@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.mycontainer {
    max-width: 1200px;
    margin: 0 10%;
}

body {
    background-image:url(../src/assets/img/bg-spider02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.mycard-body {
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 1rem;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: white;
}